/* Updated styles for a refreshed UI */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 120px; /* Adjust the height as needed */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2196F3; /* Change to your preferred header color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(196, 226, 141);
}

.App-link {
  color: #4CAF50; /* Change to your preferred link color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  